/* FONT SIZE SYSTEM (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  background-color: #d6e2f0;
  color: #212529;
  font-family: "Outfit", sans-serif;
}

.qr-code-card {
  width: 28rem;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 1.2rem;
  margin-top: 16rem;

  border-radius: 20px;
  box-shadow: 0 18px 50px #a5b0c277;
}

.card-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.card-content {
  text-align: center;
  padding: 0.4rem;
}

.card-content-heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
  display: inline-block;
}

.card-content-text {
  font-size: 1.5rem;
  font-weight: 400;
  color: #868e96;
  display: inline-block;
  margin-bottom: 2.4rem;
}
