/* FONT SIZE SYSTEM (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  background-color: #d5e1ef;
  font-family: "Outfit", sans-serif;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-code-card {
  width: 32rem;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 1.6rem;

  border-radius: 20px;

  /* horizontal offset, 
  vertical offset, 
  blur (softness of shadow), 
  spread (size of shadow),
  color */
  box-shadow: 0 10px 15px 0px #a5b0c277;
}

.card-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 2.4rem;
}

.card-content {
  text-align: center;
  margin-bottom: 2.4rem;
}

.card-content-heading {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 0px;
  color: #1f314f;

  margin-bottom: 1.6rem;
  display: inline-block;
}

.card-content-text {
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #68778d;
  display: inline-block;
}
